# Grafana admin credentials
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me

# Monitoring network name
MONITORING_NETWORK_NAME=monitoring

# Existing media network name in Unraid
MEDIA_NETWORK_NAME=media

# Docker image repos for core services
PROMETHEUS_IMAGE=gnawhnehpets/unraid-prometheus:latest
GRAFANA_IMAGE=gnawhnehpets/unraid-grafana:latest
